APP_NAME="Diagen Lager"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://lager-diagen.govista.am
APP_LOCALE=hy
APP_TIMEZONE=Asia/Yerevan
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=hy_AM

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=diagen_lager
DB_USERNAME=CHANGE_ME
DB_PASSWORD=CHANGE_ME

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
CACHE_STORE=file
QUEUE_CONNECTION=sync

VITE_APP_NAME="Diagen Lager"
