.env
.phpunit.result.cache
/storage/logs/*.log
/storage/backups/*
!/storage/backups/.gitkeep
/migration/.env
/migration/.env.*
!/migration/.env.example
!/migration/.env.production.example
/migration/vendor/
/migration/node_modules/
/migration/public/build/
/migration/storage/framework/cache/data/*
/migration/storage/framework/sessions/*
/migration/storage/framework/views/*
/migration/storage/logs/*.log
/storage/sessions/*.sess
/storage/sessions/sess_*
.idea/
.vscode/
.DS_Store
Thumbs.db
backend/.env
backend/.env.*
!backend/.env.example
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/app/public/*
!backend/storage/app/public/.gitignore
backend/bootstrap/cache/*.php
frontend/.nuxt/
frontend/.output/
frontend/node_modules/
frontend/.env
frontend/.env.*
!frontend/.env.example
